
.normal{
    font-size: 14px;
    font-weight: 600;
    padding:15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}
.btn-primary{
   font-size: 14px;
       font-weight: 600;
       padding:15px 30px;
       color: #000;
       background-color: #fff;
       border-radius: 4px;
       cursor: pointer;
       border: none;
       outline: none;
       transition: 0.2s;
}

h1{
    font-size: 30px;
    line-height: 20px;
    color: #222;
}
h3{
    font-size: 20px;
    line-height: 64px;
    color: #222;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;

}
/*Product Details*/
/*Single Product */
#proddetails{
    display:flex;
    margin-top:40px;
}
#proddetails .single-pro-image{
   width: 40%;
   align:center;
   margin-right:50px;
    /*margin-top:40px;*/
}
.small-img-group{
    display:flex;
    justify-content:space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor:pointer;
}
#proddetails .single-pro-details{
    width:50%;
    padding-top: 30px;
     margin-top:50px;
}
#proddetails .single-pro-details h4{
    padding: 10px 0 10px 0;
}
#proddetails .single-pro-details h2{
    font-size: 26px;
}
#proddetails .single-pro-details select{

    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;

}
#proddetails .single-pro-details input,#quantity{

    width:50px;
    height:47px;
    padding-left: 10px ;
    font-size: 16px;
    margin-right: 10px;

}
#proddetails .single-pro-details input:focus{
    outline:null;
}
#proddetails .single-pro-details button{
    background: #088178;
    color: #fff;
}
#proddetails .single-pro-details span{
    line-height:25px;
}


/* Featured Products */
#product1{
    text-align: center;

}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor:pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin: 15px 0;
    transition: 0.02s ease;
    position:relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6); 
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding : 10px 0;
}
#product .pro .des .span{
    color:#606063;
    font-size:12px;
}
#product .pro .des h5{
    padding-top:7px;
    color:#1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243,181,25);
}
#product1 .pro .des h4{
    padding-top : 7px;
    font-size: 15px;
    font-weight: 700;
    color:#088178
}
#product1 .pro .cart{
    width:40px;
    height:40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight:500;
    color: #088178;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom:20px;
    right:10px;
}


/*View Cart */

/* Cart page */
/*This will display a horizontal scroll bar to achieve responsive web design*/
#cart{
    overflow-x: auto;
}
#divcart {
    width: 80%;
    align:center
}

#cart table{
    width: 100%;
   border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
   /* align-items: center;*/
}
#cart table img{
    width:70px;
}
#cart table td:nth-child(1) {
    width:100px;
    text-align: center;

}
#cart table td:nth-child(2) {
    width:150px;
    text-align: center;

}
#cart table td:nth-child(3) {
    width:250px;
    text-align: center;

}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width:150px;
    text-align: center;

}
#cart table td:nth-child(5) input {
    width:70px;
    text-align: 10px 5px 10px 15px;

}
#cart table thead{
    border : 1px solid #e2e9e1;
    border-left:none;
    border-right:none;

}

#cart table thead td{
    font-weight:700;
    text-transform:uppercase;
    font-size:13px;
    padding:18px 0;
      border:1px solid #e2e9e1;

}
#cart table tbody tr td{
    padding-top:15px;
      border:1px solid #e2e9e1;

}
#cart table tbody td{
    font-size:13px
}
#cart-add{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
#coupon{
    width:50%;
    margin-bottom: 30px;
}
#coupon h3{
    padding-bottom:15px;

}
#coupon input{
    padding:10px 20px;
    outline:none;
    width:60%;
    margin-right:10px;
    border:1px solid #e2e9e1;
}
#coupon button,
#subtotal button{
    background-color: #088178;
    color:#fff;
    padding:12px 20px;
}
#subtotal{
    width:50%;
    margin-bottom: 30px;
    border:1px solid #e2e9e1;
    padding:30px;
}
#subtotal table{
    border-collapse: collapse;
    width:100%;
    margin-bottom:20px;
}
#subtotal table td{
    width:50%;
    border:1px solid #e2e9e1;
    padding:10px;
    font-size: 13px;;

}
#subtotal h3{
    padding-bottom:15px;
}
.normal{
    font-family: 'Spartan', sans-serif;

}

/*Product Details*/
/*Single Product */
#proddetails{
    display:flex;
    margin-top:20px;
}
#proddetails .single-pro-image{
   width: 40%;
   margin-right:50px;
}
.small-img-group{
    display:flex;
    justify-content:space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor:pointer;
}
#proddetails .single-pro-details{
    width:50%;
    padding-top: 30px;
}
#proddetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#proddetails .single-pro-details h2{
    font-size: 26px;
}
#proddetails .single-pro-details select{

    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;

}
#proddetails .single-pro-details input{

    width:50px;
    height:47px;
    padding-left: 10px ;
    font-size: 16px;
    margin-right: 10px;

}
#proddetails .single-pro-details input:focus{
    outline:null;
}
#proddetails .single-pro-details button{
    background: #088178;
    color: #fff;
}
#proddetails .single-pro-details span{
    line-height:25px;
}


/* Featured Products */
#product1{
    text-align: center;

}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor:pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin: 15px 0;
    transition: 0.02s ease;
    position:relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding : 10px 0;
}
#product .pro .des .span{
    color:#606063;
    font-size:12px;
}
#product .pro .des h5{
    padding-top:7px;
    color:#1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243,181,25);
}
#product1 .pro .des h4{
    padding-top : 7px;
    font-size: 15px;
    font-weight: 700;
    color:#088178
}
#product1 .pro .cart{
    width:40px;
    height:40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight:500;
    color: #088178;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom:20px;
    right:10px;
}



/* View Cart */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*
body{
    font-family: sans-serif;
    background: #ffe3e2;

}*/


.cartdetails{
    max-width: 1000px;
    margin:0 auto;
}
.cartdetails h1{
    padding:30px 0;
    text-align: center;
    text-transform: uppercase;
}
.project{
    display: flex;
}
.shop{
    flex:75%;

}
.box{
    display:flex;
    width: 100%;
    height:200px;
    overflow: hidden;
    margin-bottom: 20px;
    background:#fff;
    transition: all .6s ease;
    box-shadow: rgba(100,100,111,0.2)0 7px 29px 0;


}
.box:hover{
    transform:scale(1.02);
}
.box img{
    width: 200px;
    height: 100%;
    object-fit:cover
}
.content{
    padding:20px;
    position:relative;
    width:100%

}
.content h3{
    margin-bottom: 10px;

}
.content h4{
    margin-bottom: 10px;
}


.btn-area{
    position: absolute;
    bottom:20px;
    right:20px;
    padding: 10px 25px;
    background-color:#76bfb6 ;
    color: #fff;
    cursor:pointer;
    border-radius: 10px;
    font-weight: 600;


}
.btn-area:hover{
    /*background-color: #76bfb6;*/
    background-color: #3a7ca7;


}
.btn-area i{
    margin-right: 5px;;
}

.unit input{
    width:50px;
    padding:8px;
    text-align: center;
}

.right-bar{
    flex:25%;
    margin-left:20px;
    padding:20px;
    height:400px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0;

}
.right-bar hr{
    margin-bottom: 25px;
}
.right-bar p{
    display:flex;
    justify-content:space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.right-bar a{
    background-color:#76bfb6 ;
    color:#fff;
    text-decoration: none;
    display:block;
    text-align: center;
    height:40px;
    line-height: 40px;
    font-weight: 900

}
.right-bar a:hover{
    background-color: #3a7ca7;

}
/*
@media screen and (max-width:700px){
    .content h3{
        margin-bottom: 15px;
    }ss
    .content h4{
        margin-bottom: 20px;
    }
    .btn2{
        display:none;
    }
    .box{
        height:150px;
    }
    .box img{
        height:150px;
        width:200px;
    }
}
@media screen and (max-width:700px){
    .project{
        flex-direction:column;
    }
    .right-bar{
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:1250px){
    .wrapper{
        max-width:95%;
    }
}*/